#home {
    margin: 8%;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: flex-start;
    margin-top: 80px;
    min-width: 390px;
}

.about-section {
    vertical-align: top;
    color: black;
}
  
.about-header {
    margin-left: 0px;
}


.image {
    width: 50%;
    min-width: 200px;
    border-radius: 6px;
    margin: 0px;
    height: auto;
    object-fit: contain;
    margin-right: 20px;
    margin-top: 3%;
}

.about-text {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    min-width: 400px; /* Adjust as needed */
    max-width: 800px;
    font-size: 1.2em; /* Base font size */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    height:  80%;
    line-height: 35px;
    
}

.language-header {
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

.languages {
    color: rgb(18, 134, 166);
    font-size: 20px;
}

@media (max-width: 700px) {
    .image {
        display: none;
    }
}

@media (max-width: 1000px) {
    .about-text {
        font-size: 0.9em;
    }
}
@media (max-width: 768px) {
    .about-text {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .about-text {
        font-size: 0.75em;
    }
}