.contact-section {
    width: 100vw;
    min-height: 65vh;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
    min-width: 500px;
}

.header {
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-content {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.email-button {
    padding: 15px;
    border-radius: 50px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
    font-size: 15px;
}

.email-button:hover {
    color: black;
    background-color: white;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    flex-wrap: wrap; /* Wrap social links on smaller screens */
}

.social-link {
    padding: 20px;
}

.social-image {
    width: 100px; /* Adjust as needed */
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease;
}

.social-container {
    margin: 50px 20px; /* Adjusted margin */
}

.social-image:hover {
    transform: scale(1.1);
}

#leetcode-icon {
    border-radius: 50%;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 800px) {
    .email-button, .social-link {
        font-size: 12px; /* Smaller font size for smaller screens */
        padding: 10px; /* Smaller padding */
    }

    .social-image {
        width: 80px; /* Smaller size for icons */
    }

    .contact-content, .email-container, .social-links {
        margin: 10px; /* Smaller margins */
    }
}
