html, body {
    margin: 0;
    min-width: 400px;
    position: absolute;
    width: 100vw;
    min-width: 500px;
}
#projects {
    width: 100%;
    margin: 0px;
    margin-top: 70px;
    margin-bottom: 2%;
    
}

.projects-title {
    display: flex;
    justify-content: center;

}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Default to two columns */
    grid-auto-rows: minmax(auto, max-content);
    gap: 2%;
    margin: 5%;
    overflow:auto;
    min-height: max-content;
    padding: 2%;
    
    
}
/* Responsive adjustments for screens narrower than 600px */
@media screen and (max-width: 800px) {
    .projects-container {
        grid-template-columns: 1fr; /* Only one column on narrow screens */
    }
}



.view-more-tag {

    padding: 15px;
    border-radius: 50px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.5s ease;
    font-size: 15px;
}

.view-more-tag:hover {

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

}

.github-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

